body {
  background-color: hsl(212, 45%, 89%);
  color: #22314a;
  font-family: 'Outfit', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}
    
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  width: 280px;
  padding: 18px;
  border-radius: 20px;
  box-shadow: 4px 4px 20px hsl(212, 45%, 85%);
}

.code {
  height: 280px;
  width: 280px;
  border-radius: 15px;
}

.title {
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  margin: 20px 15px;
}

.description {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  margin: 0 15px;
}